---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'; // ÚJ IMPORT
import Hero from '../components/Hero.astro';
import Menu from '../components/Menu.astro';
import Gallery from '../components/Gallery.astro';
import Reservation from '../components/Reservation.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Duna Rapszódia Étterem - Budapest">
    <Header /> {/* IDE KERÜL A HEADER */}
	<main>
		<Hero />
		<Menu />
		<Gallery />
		<Reservation />
	</main>
	<Footer />
</Layout>