---
---
<header class="main-header">
    <div class="container">
        <a href="#" class="logo">Duna Rapszódia</a>
        <nav>
            <ul class="nav-list">
                <li><a href="#hero">Kezdőlap</a></li>
                <li><a href="#menu">Étlap</a></li>
                <li><a href="#gallery">Galéria</a></li>
                <li><a href="#reservation">Foglalás</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>